@-webkit-keyframes blink {
  0%     { opacity: 0 } 50% { opacity: 0 }
  50.01% { opacity: 1 } 100% { opacity: 1 }
}
 
.blink {
  -webkit-animation: blink 0.7s infinite linear alternate;
  -webkit-font-smoothing: antialiased;
}

.pacebook {
    padding-right: 7px;
    padding-left: 7px;
}

.thatcher {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 2px;
    z-index: 10000;
    visibility: hidden;
}

.scale {
    -webkit-transition: all 2700s linear; /* 2 hours */
    -webkit-transform: scale(500); 
    visibility: visible;
}
